* {
  box-sizing: border-box;
}

body {
  background-image: url(/images/weather-image.jpg);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: #2e5fa4;
}

h1 {
  font-size: 50px; 
  font-weight: 700;
}

h2 {
  font-size: 25px;
}

p {
  /* color: black; */
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
  opacity: 0.7;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

li {
  font-size: 16px;
  font-weight: 500;
  padding-left: 0;
  margin: 0;
}

.container {
  background-color: #ffff;
  margin: 2% auto;
  padding: 40px 40px 0px;
  border-radius: 20px;
  max-width: 700px;
  line-height: 1.5;
  text-align: center;
}

.weatherapp {
  margin: 0 auto;
  max-height: 700px;
}

/* Background video */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


/* Search engine */

.searchEngine {
  margin-bottom: 40px;
}

.form-control {
  background-color: #2e5fa4;
}
.form-control:focus {
  background-color: #2e5fa4;
}

#city-input {
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffff;
  font-weight: 500;
}

#city-input::placeholder {
  color: #ffff;
  font-weight: 500;
  font-style: oblique;
  opacity: 0.7;
}

#search-button-section {
  padding-left: 0;
}

#search-button {
  width: 100%;
  padding: 9px 0;
  color: #ffff;
  font-weight: 700;
  background-color: #2e5fa4;
  border: solid 1px #2e5fa4;
  border-radius: 20px;
  transition: all 200ms ease-in;
}
#search-button:hover {
  background-color: #2e5fa4;
  border: solid 1px #2e5fa4;
}

/* Weather information */

.weather {
  margin: 30px 0px;
}

#description {
  text-transform: capitalize;
}

.weather-info {
  padding-right: 0;
  text-align: left;
  margin-bottom: 30px;
}

.date {
  font-size: 18px;
  font-weight: 600;
}

/* Temperature information */

.temperature-info {
  margin-bottom: 8px;
}

.weather-temperature img {
  width: 120px;
  position: relative;
  top: -24px;
}

.weather-temperature strong {
  font-weight: 600;
  font-size: 80px;
  line-height: 0.8;
}

.weather-temperature .unit {
  font-size: 18px;
}

.weather-temperature {
  padding-left: 0;
  display: inline-block;
  text-align: left;
}

.weather-temperature a {
  text-decoration: none;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-data-section {
  text-align: right;
}

.weather-data {
  font-weight: 900;
}

/* weather forecast */
.weather-forecast {
  line-height: 2;
  border-bottom: 1px solid hsla(227, 10%, 46%, 0.2);
  padding-bottom: 20px;
}

.weather-forecast-date {
  font-size: 18px;
  font-weight: 700;
}

.weather-forecast img {
  width: 70px;
}

.weather-forecast-temperatures .min-temperature {
  opacity: 0.5;
}

/* Attribution */

.attribution {
  color: black;
  opacity: 0.9;
  padding: 16px 0px;
}

.attribution a {
  text-decoration: none;
}

/* Media queries */

@media only screen and (max-width: 500px) {

  .container {
    padding-bottom: 50px;
  }
 
  .weather-data-section {
  text-align: left;
  line-height: 1.8;
  padding-bottom: 20px;
 }

 .weather-forecast img {
  width: 60px;
  position: relative;
  left: -18px;
}

.attribution {
  font-size: 14px;
}
}

@media only screen and (min-width: 400px) and (max-width: 450px) { 

 .container {
  padding-bottom: 80px;
}
}

@media only screen and (min-width: 450px) and (max-width: 760px) { 

 .col-sm-12 {
    width: 50%;
  }

  .weather-temperature strong {
    font-size: 70px;
  }

  .temperature-info .col-sm-12 {
     padding-right: 0;
     padding-left: 0;
  }
 }

 @media only screen and (max-width: 300px) {

  .container {
    padding-bottom: 20px;
  }

  #cityName {
    font-size: 40px;
  }

  #country {
    font-size: 25px;
  }

  .weather-temperature {
    text-align: center;
  }

  .weather-temperature strong {
    font-size: 70px;
  }

  .weather-temperature img {
    width: 100px;
  }

  .weather-forecast-date {
    font-size: 14px;
  }

  .weather-forecast img {
    width: 40px;
    position: relative;
    left: -10px;
  }

  .weather-forecast-temperatures {
    font-size: 14px;
  }

  .attribution {
    font-size: 12px;
  }
 }